{% extends 'base.html.twig' %}

{% block title %}Вход!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Вы уже вошли как {{ app.user.username }}, <a href="{{ path('app_logout') }}">Выйти?</a>
        </div>
    {% endif %}

    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <!-- Icon -->
            <div class="fadeIn first">
                <img src="{{ asset('images/logotype.png') }}" alt="Logotype" />
                <h2>Окна Центр Продаж</h2>
            </div>
            <!-- Login Form -->
            <div class="m-5 zindex">
                <form>
                    <label for="inputEmail">Емайл</label><input type="email" value="{{ last_username }}" id="inputEmail" class="fadeIn second form-control" name="email" placeholder="Емайл" required autofocus>
                    <label for="inputPassword">Пароль</label><input type="password" id="inputPassword" class="fadeIn third form-control" name="password" placeholder="Пароль" required>
                    <input type="hidden" class="fadeIn fourth" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <button class="btn btn-lg btn-primary mt-2" type="submit">
                        Войти
                    </button>
                </form>
            </div>
            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover text-decoration-none text-dark" href="{{path('home')}}">Вернуться на сайт</a>
            </div>

        </div>
    </div>

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
</form>
{% endblock %}
