{% extends 'base.html.twig' %}

{% block title %}Список продуктов{% endblock %}

{% block body %}

<div class="container my-4 min-vh-100">
    <h1 class="text-center my-4 text-dark">Список продуктов</h1>
    <table class="table-responsive-sm text-center table-hover">
        <thead>
            <tr>
                <th class="my-2">Название</th>
                <th class="my-2">Картинка</th>
                <th class="my-2">Дата создания</th>
                <th class="my-2">Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr class="my-2">
                    <td class="my-2">{{ product.title }}</td>
                    <td class="my-2">
                        {% if product.imageFile is not empty %}
                            <img src="{{ vich_uploader_asset(product, 'imageFile') | imagine_filter('table_filter') }}" alt="{{ product.title }}">
                        {% else %}
                            <img src="http://placehold.it/50x50" alt="default image">
                        {% endif %}
                    </td>
                    <td class="my-2">{{ product.createdAt ? product.createdAt|date('d-m-Y') : '' }}</td>
                    <td class="my-2">
                        <a href="{{ path('product_show', {'id': product.id}) }}" class="btn-sm btn-secondary text-decoration-none my-2">Показать</a>
                        <a href="{{ path('product_edit', {'id': product.id}) }}" class="btn-sm btn-warning text-decoration-none my-2">Изменить</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">Товаров не найдено в базе данных</td>
                </tr>
            {% endfor %}
            </tbody>
    </table>
</div>
{% endblock %}
