{% extends 'base.html.twig' %}

{% block title %}{{ product.title }}{% endblock %}

{% block body %}
    <div class="text-center text-dark my-5 container">
        <h1>Товар {{ product.title }}</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Название</th>
                <td>{{ product.title }}</td>
            </tr>
            <tr>
                <th>Картинка</th>
                <td><img src="{{ vich_uploader_asset(product, 'imageFile') | imagine_filter('product_filter') }}" alt="{{ product.title }}"></td>
            </tr>
            <tr>
                <th>Модель</th>
                <td>{{ product.model }}</td>
            </tr>
            <tr>
                <th>Цвет</th>
                <td>{{ product.color }}</td>
            </tr>
            <tr>
                <th>Краткое описание</th>
                <td>{{ product.descOne }}</td>
            </tr>
            <tr>
                <th>Полное описание</th>
                <td>{{ product.descTwo }}</td>
            </tr>
            </tbody>
        </table>
            <a href="{{ path('product_index') }}">Вернуться к списку</a>
            <a href="{{ path('product_edit', {'id': product.id}) }}" class="btn btn-warning">Изменить</a>
        {{ include('product/_delete_form.html.twig') }}

    </div>
{% endblock %}
