{% extends 'base.html.twig' %}
{% block title %}Товары{% endblock %}
{% block body %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-3">
                <h3 class="my-4 mt-5 text-center">{% if categories is not empty %}Категории{% endif %}</h3>
                <div class="list-group">
                    <nav class="nav flex-column">
                        {% for category in categories %}
                            <a class="nav-link active text-dark text-center shadow-sm" href="{{ path('productsShow', {'title' : category.title }) }}">{{ category.title }}</a>
                        {% else%}
                            {% if categories is not empty %}
                                <tr>
                                    <td colspan="5">Нет категорий</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </nav>
                </div>
            </div>

            {% if categoriesShow is not empty %}
                {% for categoriesMain in categoriesShow %}
                        <div class="col-lg-9 mb-4">
                            <div class="card">
                                <img src="{{ vich_uploader_asset(categoriesMain, 'imageFile') | imagine_filter('product_filter')}}" class="card-img-top" alt="{{ categoriesMain.altImage }}">
                                <div class="card-body">
                                    <h2 class="card-title ">{{ categoriesMain.title }}</h2>
                                    <p class="card-text">{{ categoriesMain.description }}</p>
                                </div>
                            </div>
                        </div>
                {% endfor %}
            {% endif %}

            <!-- /.col-lg-3 -->
            {% if products is not empty %}
            <div class="col-lg-9">
                <div class="shadow-lg">
                    <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            {% for product in products[1:] %}
                                <div class="carousel-item {%if loop.index == 1%} active {%endif%}">
                                    <img src="{{ vich_uploader_asset(product, 'imageFile') | imagine_filter('productBanner_filter')}}" alt="{{ product.title }}">
                                </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="row">
                    {% for product in products %}
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card h-100 shadow-sm">
                                <a href="{{ path('productShow', {'id': product.id}) }}"><img class="card-img-top" src="{{ vich_uploader_asset(product, 'imageFile') | imagine_filter('product_filter')}}" alt="{{ product.title }}"></a>
                                <div class="card-body">
                                    <h4 class="card-title text-center text-dark">
                                        <a href="{{ path('productShow', {'id': product.id}) }}" class="text-dark underlineHover text-decoration-none">{{ product.title }}</a>
                                    </h4>
                                    <h5>{{ product.price }} руб.</h5>
                                    <p class="card-text text-dark">{{ product.descOne | u.truncate(90, ' ...') }} </p>
                                </div>
                                <div class="text-center mb-2">
                                    <a class="btn btn-outline-danger btn-group-sm" href="{{ path('productShow', {'id': product.id}) }}">Узнать больше</a>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <p class="text-dark text-center">К сожалению, продукты не были найдены</p>
                    {% endfor %}
                </div>
                <!-- /.row -->




            </div>
            {% endif %}
            <!-- /.col-lg-9 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
{% endblock %}
